<form action='/signup' method='POST'>
    <h2>Username</h2>
    <input type="text" placeholder="Username" name="username" />
    <h2>Password</h2>
    <input type="password" placeholder="Password" name="password" />
    <h2>FirstName</h2>
    <input type="text" placeholder="Firstname" name="firstname" />
    <h2>Surname</h2>
    <input type="text" placeholder="Surname" name="surname" />
    <button type="submit">Submit</button>
</form>