<h1>{{title}}</h1>

<form method="post" action='/upload' enctype='multipart/form-data' action='/upload'>
    <p style="font-size:48px">
         &#128162; &#128544;
        Type your username here
         &#128517; &#128160;
    </p>
    <input name="username" />
    <input type="file" name='avatar' />
    <button type="submit">Submit</button>
</form>