<form action='/signup' method='POST'>
    <h2>Username</h2>
    <input type="text" placeholder="Username" name="username" />
    <h2>Email</h2>
    <input type="text" placeholder="email" name="email" />
    <h2>Password</h2>
    <input type="password" placeholder="Password" name="password" />
    <h2>Confirm Password</h2>
    <input type="password" placeholder="Confirm Password" name="confirm_password" />
    <h2>FirstName</h2>
    <input type="text" placeholder="Firstname" name="firstname" />
    <h2>Surname</h2>
    <input type="text" placeholder="Surname" name="surname" />
    <h2>Date of birth</h2>
    <input id="date" type="date" name="date" value="2004-06-02">
    <button type="submit">Submit</button>
</form>