<h1>{{ title }}</h1>

<form method="post" action="/form/signup">
    <input name="username" />
    <button type="submit">Send</button>
    <p style="font-size:48px">
        &#128512; &#128516; &#128525; &#128151;
    </p>
</form>